@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root{
  --main-red:#A93226;
  --light-red:#CB4335;
  --white:#fff;
  --black:#000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #eee;
}
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
/* container */
.container {
  max-width: 1470px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media(max-width: 992px) {
  .container {
    padding: 0 15px;
  }
}
@media(max-width: 768px) {
  .container {
    padding: 0 15px;
    
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}